<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="h-[100vh] bg-gray-700 p-10">
        <a href="/login" class="text-blue-500 text-xlmb-2">Login Account</a>
        <h2 class="text-blue-500  text-2xl"> Create Account</h2>
        <div class="mt-5">
            <form action="/create" method="post">
                <input class="rounded-md outline-none px-3 py-2 mr-3" type="text" placeholder="name" name="name">
                <input class="rounded-md outline-none px-3 py-2 mr-3 mt-2 sm:mt-0"  type="email" placeholder="email" name="email">
                <input class="rounded-md outline-none px-3 py-2 mr-3 mt-2 sm:mt-0"  type="password" placeholder="password" name="password">
                <input class="rounded-md outline-none px-3 py-2 mr-3 mt-2 sm:mt-0"  type="number" placeholder="number" name="number">
                <input class="bg-blue-500 text-white px-5 py-2 rounded-md mt-2 sm:mt-0" type="submit" placeholder="submit" name="submit">
            </form>
        </div>

    </div>
   
</body>
</html>